input,
.input {
  padding: 20px 16px;
  width: 100%;
  border-radius: 16px;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  resize: none;
  border: none;
  outline: none;
  font-size: 18px;
}

select {
  @extend input;
  -webkit-appearance: none;
}

.textarea {
  @extend input;
  padding-top: 16px;
  resize: none;
}


.btn-container {
  box-shadow: 0 7px var(--shadow-btn);
  border-radius: 0.5rem;
  margin: 0 auto;

  .btn {
    outline: none;
    border: none;
    background-color: var(--bg-btn);
    font-family: var(--second-font);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 28px;
    height: 60px;
  }
}