@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: "iCiel-Koni-Black";
  src: url("../../public/fonts/iCiel-Koni-Black.otf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #ED7200;
  --second-font: "iCiel-Koni-Black"
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  position: relative;
  background: radial-gradient(97.91% 60.14% at 50% 50%, #FFDB7E 0%, #FF7A00 100%);
  width: 100%;
  height: 100vh;
}

.bg-logo {
  height: 100vh;
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.main {
  position: absolute;
  top: 15%;
  width: 100%;
}

.btn {
  background-color: #FF000A;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  font-family: var(--second-font);
  cursor: pointer;
  font-size: 28px;
}

.title-page {
  color: white;
  font-weight: 900;
  font-size: 72px;
  cursor: default;
  font-family: var(--second-font);
}