.container-events {
  background-image: url('../../public/imgs/event.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;

  .container-events__main {
    position: absolute;
    top: 30%;
    left: 11%;

    .leftArrow {
      position: absolute;
      top: 40%;
      left: -5%;
      transform: translateX(-50%);
    }

    .rightArrow {
      position: absolute;
      top: 40%;
      right: -6%;
    }

    .container-events__main-card {
      display: flex;
      column-gap: 30px;

      .card-event {
        width: 356px;
        height: 550px;
        background-color: #fff;
        border-radius: 25px;

        img {
          width: 100%;
          height: auto;
          border-radius: 25px 25px 0 0;
          object-fit: cover;
        }

        .card-envent_bottom {
          padding: 16px 24px;

          h2 {
            font-size: 30px;
            font-weight: 700;
            color: #23221F;
            margin: 0;
          }

          p {
            color: #6C7272;
            font-size: 18px;
          }

          .calendar-desc {
            display: flex;
            column-gap: 5px;
            align-items: center;

            .desc {
              margin: 0;
            }
          }

          .price {
            font-size: 32px;
            font-weight: 700;
            color: #FA7D09;
            margin-top: 28px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


.container-eventDetail {
  background-image: url('../../public/imgs/eventDetail.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;

  .container-eventDetail__main {
    position: absolute;
    top: 15%;
    left: 10%;

    h2 {
      text-align: center;
      color: #fff;
      font-family: var(--second-font);
      font-size: 64px;
      font-weight: 900;
      margin: 0;
    }

    .container-box {
      display: flex;
      column-gap: 40px;
      padding-top: 50px;
      padding-left: 46px;

      .container-box__left {
        .calender-dest {
          margin-top: 2rem;
          display: flex;
          align-items: center;
          gap: 10px;

          p {
            margin: 0;
            color:
              #444444;
            font-size: 18px;
          }
        }

        p {
          font-size: 18px;
          color: #6C7272;
          margin-top: 1rem;
          margin-bottom: 0;
          margin-top: 12px;
        }

        .price {
          font-size: 32px;
          font-weight: 700;
          color: #FA7D09;
          margin-bottom: 0;
          margin-top: 12px;
        }
      }

      .container-box__center {
        width: 288px;

        p {
          text-align: justify;
          color: #000;
          line-height: 1.4;
        }

        span {
          font-weight: bold;
          color: #FA7D09;
        }
      }

      .container-box__center1 {
        width: 288px;

        img {
          border-radius: 10px;
        }

        p {
          text-align: justify;
          margin-top: 35px;
          color: #000;
        }
      }

      .container-box__right {
        width: 288px;

        img {
          border-radius: 10px;
        }

        p {
          text-align: justify;
          color: #000;
          margin-bottom: 35px;
        }
      }
    }
  }
}