.container-events {
  background-image: url('../../public/imgs/event.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;

  .container-events__main {
    position: absolute;
    top: 30%;
    left: 20%;
  }
}