.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--primary-color);
  height: 5rem;
  box-shadow: var(--bg-nav-shadow);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;

  .header {
    background-color: var(--primary-color);
    width: 100%;

    .header-layout {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 17rem;
      line-height: 4rem;

      .header-layout__left {
        height: auto;
        width: 103px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .header-layout__right {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 13.25rem;

        .list-items {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5rem;
          margin: 0;

          li {
            a {
              color: #fff
            }

            .active {

              border: 1px solid #fff;
              padding: 10px 24px;
              border-radius: 33px;
            }
          }

        }
      }

      .header-right {
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;

        .telphone {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #fff;
          border-radius: 50%;
          margin-right: 8px;
        }

        p {
          margin: 0;
        }
      }
    }



  }


  // .ellipse {
  //   background-color: var(--primary-color);
  //   width: 100%;
  //   height: 40px;
  //   border-radius: 50% / 100%;
  //   border-top-left-radius: 0;
  //   border-top-right-radius: 0;
  //   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  // }
}