.header-container {
  width: 100%;
  background-color: var(--primary-color);
  height: 80px;
  box-shadow: 0px 4px 35px rgba(162, 58, 0, 0.75);
  position: absolute;
  z-index: 999;

  .header {
    background-color: var(--primary-color);
    width: 100%;

    .header-layout {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-logo {
        height: 50%;
        width: 30%;

        img {
          width: 50%;
          height: 30%;
          object-fit: cover;
        }
      }

      .list-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
        margin: 0;

        li {
          a {
            color: #fff;
            display: block;
            padding: 10px 24px;
          }

          .active {
            border: 1px solid #fff;
            border-radius: 33px;
          }
        }
      }

      .header-right {
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;

        .telphone {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #fff;
          border-radius: 50%;
          margin-right: 8px;
        }

        p {
          margin: 0;
        }
      }
    }



  }


  // .ellipse {
  //   background-color: var(--primary-color);
  //   width: 100%;
  //   height: 40px;
  //   border-radius: 50% / 100%;
  //   border-top-left-radius: 0;
  //   border-top-right-radius: 0;
  //   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  // }
}