.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--primary-color);
  height: 107px;
  box-shadow: var(--bg-nav-shadow);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 273px;

  .header-right {

    .header-right__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      gap: 212px;

      .header-right__nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin: 0;

        li {
          a {
            color: #fff;
            font-size: 18px;
          }

          .active {
            border: 1px solid #fff;
            border-radius: 33px;
            padding: 10px 24px;
          }
        }
      }

      .header-right__nav-phone {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        .telephone {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border: 1px solid white;
          border-radius: 50%;
        }
      }
    }

  }

  // .header {
  //   background-color: var(--primary-color);
  //   width: 100%;

  //   .header-layout {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     column-gap: 17rem;
  //     line-height: 4rem;

  //     .header-layout__left {
  //       height: auto;
  //       width: 103px;

  //       img {
  //         width: 100%;
  //         height: 100%;
  //         object-fit: cover;
  //       }
  //     }

  //     .header-layout__right {
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       column-gap: 13.25rem;

  //       .list-items {
  //         display: flex;
  //         align-items: center;
  //         justify-content: center;
  //         gap: 5rem;
  //         margin: 0;

  //         li {
  //           a {
  //             color: #fff
  //           }

  //           .active {

  //             border: 1px solid #fff;
  //             padding: 10px 24px;
  //             border-radius: 33px;
  //           }
  //         }

  //       }
  //     }

  //     .header-right {
  //       color: #fff;
  //       font-weight: bold;
  //       display: flex;
  //       align-items: center;

  //       .telphone {
  //         width: 30px;
  //         height: 30px;
  //         display: flex;
  //         align-items: center;
  //         justify-content: center;
  //         border: 1px solid #fff;
  //         border-radius: 50%;
  //         margin-right: 8px;
  //       }

  //       p {
  //         margin: 0;
  //       }
  //     }
  //   }



  // }


}