.img-title {
  display: flex;
  align-items: center;

  img {
    width: 10%;
    height: 10%;
    object-fit: cover;
  }

  .title-page {
    margin: 0 16px;
  }
}

.home-content {
  width: 100%;
  height: 400px;
  background-color: #FDE8B3;
  margin-top: 20px;
  position: absolute;
  border-radius: 10px;
  padding: 20px;


  .home-content__left {
    width: 600px;
    height: 380px;
    background-color: #FFF6D4;
    border: 3px dashed #FFB489;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
  }

  .home-content__right {
    width: 300px;
    height: 380px;
    background-color: #FFF6D4;
    border: 3px dashed #FFB489;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;

    .home-content__right-title {
      font-weight: 600;
      font-size: 14px;
      font-family: var(--second-font);
      color: #fff;
      width: 142px;
      height: 40px;
      background: linear-gradient(176.02deg, #FF000A -12.67%, #C2000B 101.08%);
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }

    .home-content__right-form {
      margin-top: 10px;
      padding: 20px;
    }

    .btn-ticket {
      min-width: 200px;
      height: 40px;
      padding: 10px 24px;
      font-weight: 500;
      font-size: 20px;
      box-shadow: 0px 7px #93000A;
      left: 50%;
      transform: translateX(-50%);
    }

  }
}