.container-payment {
  background-image: url('../../public/imgs/payment.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  position: relative;

  .container-payment__main {
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;

    img {
      margin-left: -40px;
      margin-right: -70px;
    }
  }
}


.container-paymentSucee {
  background-image: url('../../public/imgs/paymentSucess.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  position: relative;

  .previousIcon {
    position: absolute;
    top: 55%;
    left: 16%;
  }

  .nextIcon {
    position: absolute;
    top: 55%;
    right: 9%;
  }

  .container-paymentSucee__main {
    position: absolute;
    top: 30%;
    left: 20%;

    .container-paymentSucee__main-card {
      display: flex;
      column-gap: 23px;
      justify-content: center;

      .card {
        width: 300px;
        height: 500px;
        background-color: #fff;
        border-radius: 1rem;
        padding: 2rem;
        text-align: center;

        img {
          margin: 0 auto;
        }

        h2 {
          font-size: 32px;
          font-weight: 700;
          margin-top: 2rem;
        }

        .port-ticket {
          color: #FFC226;
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 0;
        }

        .checkIcon {
          display: flex;
          justify-content: center;
          margin-top: 2rem;
        }
      }
    }

    .container-paymentSucee__main-bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      &p:first-child {
        font-size: 20px;
      }
    }
  }

  .container-paymentSucee__bottom {
    position: absolute;
    bottom: 7%;
    left: 40%;

    button {
      border: none;
      outline: none;
      width: 160px;
      min-height: 35px;
      font-family: var(--second-font);
      color: #fff;
      background-color: #FF000A;
      box-shadow: 0px 3px #BD000B;
      margin-right: 1rem;
    }
  }

}