.rest-form {

  .ant-form-item {
    margin-bottom: 0.5rem;

    .ant-row {
      display: block;
    }
  }
}

.form-payment {
  padding: 1.5rem;

  .ant-form-item {
    margin-bottom: 0.5rem;

    .ant-row {
      display: block;
    }
  }
}