@import './sass/base/reset';

@import './sass/components/header';
@import './sass/components/home';
@import './sass/components/event';
@import './sass/components/contact';
@import './sass/components/payment';
@import './sass/components/aroundBox';
@import './sass/components/carttitile';